# Created by http://www.gitignore.io

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# image files
*.jpg

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse configs
.classpath
.project
.settings/
bin/

# Intellij configs
.idea/
*.iml

# User defined
*.swp
.DS_Store
